<body>
 
  <div class="row">
    <div class="large-12 columns">
      <div class="panel">
        <!-- <h1>Feed Template</h1> -->
      </div>
    </div>
  </div>
   
  <div class="row">
  <div class="large-4 small-12 columns">
    <a href="http://gaixinh.fun4v.com/posts/phai-lam-sao-bay-gio/455">
    <img src="http://gaixinh.fun4v.com/img/2015-11-13/adhwos-11219314-1698852413682603-7728400685192812600-n.jpeg"></a>
    <div class="hide-for-small panel">
      <h3>Ngắm gái mỗi ngày</h3>
      <!-- <h5 class="subheader">Risus ligula, aliquam nec fermentum vitae, sollicitudin eget urna. Donec dignissim -->
      <!-- nibh fermentum odio ornare sagittis.</h5> -->
    </div>
    <a href="#">
      <div class="panel callout radius">
        <!-- <h5> nbsp; items in your cart</h6> -->
      </div>
    </a>
  </div>

  <div class="large-8 columns">
    <div class="row">
      <% @posts.each do |post|%>
      <div class="large-4 small-6 columns ">
        <a href="<%= post.link %>"><img src="<%= post.image %>" title="<%== post.title %>" style="width: 100%"></a>
        <div class="panel">
          <div class="post-title">
            <a href="<%= post.link %>"><p><strong class="ellipsis1"><%= post.title %> </strong><br></a>
          </div>
          <p class="post-descrition"><%= post.description.delete("]]>") %></p>
          <h6 class="subheader"><p><a href="">Nguon:  <b><%= post.get_domain.upcase %></b></a></p></h6>
        </div>
      </div>
      <%end%>
    </div>
  </div> 

  <div class="row">
    <div class="large-12 columns">
      <div class="panel">
        <div class="row">
          <div class="large-2 small-6 columns"><img src="https://fbcdn-sphotos-h-a.akamaihd.net/hphotos-ak-xpf1/t31.0-8/860425_695227343875090_8043973826892118225_o.jpg"></div>
            <div class="large-10 small-6 columns">
              <strong>This Site Is Managed By HoangQuan</strong>
              <hr>
              Tổng hợp tin tức nhanh trong ngày cho bạn - quandhcn@gmail.com
            </div>
          </div>
        </div>
      </div> 
    </div>
  </div>

  </div>
</body>